<div class = "account-header">
	<%= link_to image_tag(@account.profile_picture_url), @account.instagram_url, class: "account-profile-picture"%>
	<h1 style = "text-align:center;">@<%=@account.username%></h1>
	<span style = "color: #808080;">As of <%=@account.created_at.strftime('%b %d, %Y')%></span>  

</div>
<!-- <h3 style = "text-align:center;"> Info</h3>
 -->	<br>
		<table class="show-account-table">
		  <tr>
		    <td><strong>Followers</strong></td>
		    <td><strong>Following</strong></td>	    
		    <td><strong># of Posts</strong></td> 
	 	  </tr>

		  <tr>
		    <td><%=number_to_human(@account.followers, precision: 3)%></td>
		    <td><%=number_to_human(@account.following, precision: 3)%></td>
		    <td><%=number_to_human(@account.posts, precision: 3)%></td>
		  </tr>
		</table>
	<br>
<h3 style= "text-align:center">Recent Posts </h3>
<br>
<div class =  "wrapper">
	<div class = "insta-wrap">
		<div style = "text-align: center; width: 75%; margin:auto;" id="instafeed"></div>
	</div>	
</div>
<br>
<br>
	<div class = "back-link-div">
		<%=link_to "Back To \"" + @account.table.title.titleize + "\" Table", table_path(@account.table), class: "back-to-table-link" %></span>
	</div>
<br>
<br>	


<script type="text/javascript">
	// TO GET A SPECIFIC USER's IMAGES
	//var insta_id = "#{@account.instagram_id}";
	var insta_id = <%=@account.instagram_id%>;
	var feed = new Instafeed({
	    get: 'user',
	    userId: insta_id,
	    limit: 30,
	    accessToken: '<%=ENV['INSTAGRAM_ACCESS_TOKEN']%>'
	});
	feed.run();
</script>